
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPwd</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline;">Forgot Password</h1>
        <div style="text-align:center;background-color:aliceblue;">
            <p>Forgot your password? Enter your register email-id to recive password</p>
            Email-Id : <input id="txtPwd" type="text" />
            <input id="btnSubmit" type="button" value="Submit" />
        </div>
    </div>
</body>
</html>
