
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Click On The Links below: </h1>
        <h3>
            <a href="/Home/Register">Register</a><p></p>
            <a href="/Home/Login">Login</a><p></p>
            <a href="/Home/ForgotPassword">Forgot Password</a><p></p>
            <a href="/Home/ResetPassword">Reset Password</a><p></p>
        </h3>
    </div>
</body>
</html>
