
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:red;text-decoration:underline;">Log-In</h1>
        <table align="center">
            <tr>
                <td>Email Id</td>
                <td><input type="email" id="txtEmail" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="txtPwd" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" id="btnLogin" value="Log-In" />
                    <input type="button" id="btnReset" value="Reset" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
